<h2>Editar Usuario</h2>
<form action="/usuarios/actualizar/<%= usuario.rut %>" method="POST">
  <label>Nombre:</label><br>
  <input type="text" name="nombre" value="<%= usuario.nombre %>" required><br>
  <label>Email:</label><br>
  <input type="email" name="email" value="<%= usuario.email %>" required><br>
  <label>Clave:</label><br>
  <input type="text" name="clave" value="<%= usuario.clave %>" required><br>
  <label>Rol:</label><br>
  <select name="rol_id">
    <% roles.forEach(r => { %>
      <option value="<%= r.id %>" <%= r.id === usuario.rol_id ? 'selected' : '' %>><%= r.nombre %></option>
    <% }) %>
  </select><br><br>
  <button type="submit">Actualizar</button>
</form>
